#outer{
    font-size: 25px;
}
#inner{
    font-size:  10px;
    
}
#b{
    text-align: center;
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-color: green;
    
}
#a{
    background-color: black;
    height: 60px;
    
}
*{
    padding: 0px;
    margin: 0px;
    color: white;
}

button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
    text-align: start;
}
a{
    margin-right: 200px;
}